{% extends "index.html" %}

{% block content %}

<table class="table table-bordered">
  <thead class="bg-steel">
    <tr>
      <th scope="col" style="color: white;">Top 5 Recommended Products for {{username}}</th>
    </tr>
  </thead>


  {% for product in pro %}
  <tbody>
    <tr>
      <td>{{product}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<div class="container">
  <div class="col-md-12 text-center">
    <form action="/">
      <button type="submit" class="btn btn-info">Home</button>
    </form>
  </div>
</div>
{% endblock content %}